html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $ff-primary;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 192rem;
  background-color: $white;
}

