html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $ff-primary;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 192rem;
  background-color: $white;
}

.desktop {
  @include desktop {
    display: block;
  }
  @include mobile {
    display: none;
  }
}

.mobile {
  @include mobile {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

.desktop {
  .bottle {
    @include tablet {
      display: none;
    }
  }
}