.banner {
  background-color: $black;
  h3 {
    padding-top: 2rem;
    text-align: center;
    @include desktop {
      padding-top: 6.2rem;
    }
  }
  h1 {
    padding: 1.5rem 0;
    max-width: 27rem;
    margin: 0 auto;
    text-align: left;
    @include tablet {
      text-align: center;
      max-width: inherit;
    }
    @include desktop {
      text-align: center;
      max-width: inherit;
    }
  }
  .button-row {
    padding-bottom: 8.5rem;
  }
  
  .button-center {
    max-width: 22rem;
    margin: 0 auto;
    border: .4rem solid $magenta;
    border-radius: .8rem;
    cursor: pointer;
    @include desktop {
      max-width: 30rem;
    }
    p {
      text-align: center;
      font-family: $ff-gotham;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 0.75;
      color: $magenta;
      padding: 2rem 0 1.6rem 0;
      @include desktop {
        font-size: 2.8rem;
      }
    }
  }
  &_top {
    @include background-3x('../images/mobile/header-img-mobile', 'png', cover,  left bottom, no-repeat );
    
    @include desktop {
      @include background-3x('../images/header-img', 'png', cover, center, no-repeat);
    }
    @include tablet{
      @include background-3x('../images/header-img', 'png', 160% 90%, bottom, no-repeat);
    }
  }
  &_bottom {
    @include tablet{
      padding-top: 3rem;
    }
    h2  {
      text-align: center;
      @include tablet {
        margin-bottom: 3rem;
      }
    }
    img {
      display: block;
      @extend %center;
      margin-top: 6rem;
     
      
    }
    .button-row {
      padding-bottom: 5.5rem;
    }
  }
}

.restocking {
  display: flex;
  flex-direction: column-reverse;
  @include desktop {
    flex-direction: row;
  }
  &-left, &-right {
    flex: 1;
  }
  &-left {
    padding-top: 2rem;
    position: relative;
    .restocking-footer {
      margin-top: 3.5rem;
      p {
        @extend %center;
        text-align: center;
        font-style: italic;
        &:first-child {
          font-size: 2.6rem;
        }
        &:nth-child(2) {
          font-size: 2.6rem;
          font-weight: 700;
          color: $magenta;
          margin-bottom: 3rem;
          @include desktop {
            font-size: 3.6rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &-label {
    position: absolute;
    top: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    left: -21%;
    right: 0;
    transform: translate(50%,-50%);
    width: 18rem;
    @include tablet {
      top: 40%;
      width: 24rem;
      left: -3%;
    }
    @include desktop  {
      display: none
    }
  }

  &-right {
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    @include tablet {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @include desktop {
      padding-left: 0;
      padding-right: 0;
    }
    h2 {
      text-align: center;
      max-width: 20rem;
      margin: 0 auto;
      & ~ h2 {
        max-width: inherit;
      }
      @include tablet {
        text-align: center;
        max-width: inherit;
      }
      @include desktop {
        text-align: inherit;
        max-width: inherit;
      }
    }
    p {
      text-align: inherit;
    }
    .lead {
      text-align: center;
      @include tablet {
        max-width: 47rem;
        margin: 0 auto;
      }
      @include desktop {
      
      }
    }
  }
  .bottle {
    position: relative;
    .bottles {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      @include desktop {
        width: 79rem;
        margin-left: auto;
        margin-right: 0;
        display: block;
      }
      @include tablet {
        width: 50rem;
        display: block;
      }
    }
    &:before {
     content: "";
      @include desktop {
        content: url("../images/restocking.svg");
        position: absolute;
        width: 16rem;
        top: 42%;
        left: 16%;
        transform: translate(50%,-50%);
      }
    }
  }
  h2 {
    margin-bottom: 2rem;
  }
  p {
    max-width: 76rem;
    margin-bottom: 5rem;
    //text-align: center;
  }
  .wrap-receipe {
    margin-left: 2rem;
    max-width: 74rem;
    border-left:.4rem solid $grey;
    padding-left: 2rem;
  }
  .receipe {
    color: $grey;
    font-style: italic;
    line-height: 1.61;
    position: relative;
  }
}

.production {
  background-color: $black;
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    padding: 5rem 0 3rem 0;
    color: $white;
    text-align: center;
    letter-spacing: 1.2px;
    
  }
  p {
    color: $white;
    max-width: 107rem;
    margin: 0 auto;
    text-align: center;
  }
}