@mixin background-cover ($path, $ext: "png", $size: cover, $pos: left top, $repeat: no-repeat) {
  $at1x_path: "#{$path}.#{$ext}";
  background-image: url("#{$at1x_path}");
  background-size: $size;
  background-position: $pos;
  background-repeat: $repeat;
}

$desktop: 1025px;
$tablet: 1024px;
$tablet: 468px;
//Media Query
//min-width: 1024px
@mixin desktop {
  @media(min-width: #{$desktop}) {
    @content;
  }
}