//Colors
$magenta:#ef61a3;
$black:#000000;
$white: #fff;
$grey: #878787;
$orange: #fc8636;
$greyLight: rgba(#a8a8a8, .55);
$green: #a2df64;

//fonts
$ff-primary: 'Open Sans', sans-serif;
$ff-bebas: 'Bebas Neue';
$ff-gotham: 'Gotham';

//Devices
$desktop: 1024px;
$mobile: 768px;
$smallMobile: 320px;



